USE [master]
GO
/****** Object:  Database [Cronos_Frontier]    Script Date: 12/5/2018 9:51:11 AM ******/
CREATE DATABASE [Cronos_Frontier]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Cronos_Frontier', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Cronos_Frontier.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Cronos_Frontier_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Cronos_Frontier_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cronos_Frontier].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cronos_Frontier]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Get_Operator_ID]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_Get_Operator_ID]
(@OperatorName VARCHAR(20))
RETURNS char(15)
BEGIN 
RETURN (SELECT AutoOpID 
		FROM Autonomous_Operators
		WHERE CodeName = @OperatorName)
END;
GO
/****** Object:  Table [dbo].[Autonomous_Operators]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autonomous_Operators](
	[AutoOpID] [varchar](15) NOT NULL,
	[CodeName] [varchar](20) NOT NULL,
	[JobCode] [varchar](10) NOT NULL,
	[Role] [varchar](50) NULL,
 CONSTRAINT [PK_Autonomous_Operators] PRIMARY KEY CLUSTERED 
(
	[AutoOpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Mining_Operators]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Mining_Operators] AS (
SELECT AutoOpID, CodeName, JobCode
FROM Autonomous_Operators
WHERE JobCode = 'AO-MN');
GO
/****** Object:  View [dbo].[vw_Security_Operators]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Security_Operators] AS (
SELECT AutoOpID, CodeName, JobCode
FROM Autonomous_Operators
WHERE JobCode = 'AO-SC');
GO
/****** Object:  View [dbo].[vw_Hybrid_Operators]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Hybrid_Operators] AS (
SELECT AutoOpID, CodeName, JobCode
FROM Autonomous_Operators
WHERE JobCode = 'AO-SC/MN'
);
GO
/****** Object:  View [dbo].[vw_Military_Operators]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Military_Operators] AS (
SELECT AutoOpID, CodeName, JobCode
FROM Autonomous_Operators
WHERE JobCode = 'AO-MIL'
);
GO
/****** Object:  Table [dbo].[Operator_Assignment]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operator_Assignment](
	[FacilityID] [varchar](10) NOT NULL,
	[AutoOpID] [varchar](15) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Operator_Assignment] PRIMARY KEY CLUSTERED 
(
	[AutoOpID] ASC,
	[FacilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VI_Active_Operators_Limited]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VI_Active_Operators_Limited]
AS 
SELECT A.AutoOpID, A.CodeName, A.JobCode, SUM(O.Quantity) AS 'Active Units'
FROM Autonomous_Operators AS A JOIN Operator_Assignment AS O ON O.AutoOpID = A.AutoOpID
GROUP BY A.AutoOpID, A.CodeName, A.JobCode
WITH CHECK OPTION;
GO
/****** Object:  Table [dbo].[Facilities]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Facilities](
	[FacilityID] [varchar](10) NOT NULL,
	[FacilityName] [varchar](50) NOT NULL,
	[FacilityLocation] [varchar](15) NOT NULL,
 CONSTRAINT [PK__FacilityID] PRIMARY KEY CLUSTERED 
(
	[FacilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[VI_Active_Mining_Operator_Locations]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VI_Active_Mining_Operator_Locations]
AS 
SELECT A.AutoOpID, A.CodeName, A.JobCode, SUM(O.Quantity) AS 'Active Units', Facilities.FacilityLocation AS [Location]
FROM Autonomous_Operators AS A JOIN Operator_Assignment AS O ON O.AutoOpID = A.AutoOpID
JOIN Facilities ON O.FacilityID = Facilities.FacilityID
WHERE A.JobCode = 'AO-MN'
GROUP BY A.AutoOpID, A.CodeName, A.JobCode, Facilities.FacilityLocation;
GO
/****** Object:  View [dbo].[VI_Active_Mining_Operators]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VI_Active_Mining_Operators]
AS 
SELECT A.AutoOpID, A.CodeName, A.JobCode, SUM(O.Quantity) AS 'Active Units'
FROM Autonomous_Operators AS A JOIN Operator_Assignment AS O ON O.AutoOpID = A.AutoOpID
WHERE A.JobCode = 'AO-MN'
GROUP BY A.AutoOpID, A.CodeName, A.JobCode
GO
/****** Object:  View [dbo].[VI_Phoebe_Ops]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VI_Phoebe_Ops]
AS
SELECT A.AutoOpID, A.CodeName AS [Name], A.[Role] AS [Function], O.Quantity, F.FacilityName AS [Assigned To]
FROM Autonomous_Operators AS A 
JOIN Operator_Assignment AS O ON O.AutoOpID = A.AutoOpID
JOIN Facilities AS F ON F.FacilityID = O.FacilityID
WHERE O.FacilityID = 'PHB-02' OR O.FacilityID = 'PHB-01';
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Find_Operator_By_Counts]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_Find_Operator_By_Counts]
(@Quantity int)
RETURNS table 
RETURN (SELECT AutoOpID, FacilityID FROM Operator_Assignment
	WHERE @Quantity = Quantity) 
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Find_Operator_Quantity_By_ID]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_Find_Operator_Quantity_By_ID]
(@OpID VARCHAR(15))
RETURNS table 
RETURN (SELECT FacilityID, Quantity FROM Operator_Assignment
	WHERE @OpID = AutoOpID) 
GO
/****** Object:  View [dbo].[VI_Outer_Moon_Ops]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VI_Outer_Moon_Ops]  
AS  
SELECT A.AutoOpID, A.CodeName AS [Name], A.[Role] AS [Function], O.Quantity, F.FacilityName AS [Assigned To]  
FROM Autonomous_Operators AS A   
JOIN Operator_Assignment AS O ON O.AutoOpID = A.AutoOpID  
JOIN Facilities AS F ON F.FacilityID = O.FacilityID  
WHERE O.FacilityID = 'OM-01' OR O.FacilityID = 'OM-02' OR O.FacilityID = 'OM-03';  

GO
/****** Object:  Table [dbo].[CFProjects]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFProjects](
	[ProjectID] [varchar](30) NOT NULL,
	[FacilityID] [varchar](10) NOT NULL,
	[StartDate] [date] NOT NULL,
	[ProjectDescription] [varchar](100) NULL,
 CONSTRAINT [PK__CFProjects] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [varchar](10) NOT NULL,
	[JobCode] [varchar](10) NOT NULL,
	[FirstName] [varchar](25) NULL,
	[LastName] [varchar](25) NULL,
	[Title] [varchar](20) NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JobCode]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JobCode](
	[JobCode] [varchar](10) NOT NULL,
	[JobDescription] [varchar](30) NULL,
 CONSTRAINT [PK_JobCode] PRIMARY KEY CLUSTERED 
(
	[JobCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperatorLogs]    Script Date: 12/5/2018 9:51:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperatorLogs](
	[AutoOpID] [varchar](15) NULL,
	[status] [varchar](30) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project_Assignment]    Script Date: 12/5/2018 9:51:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project_Assignment](
	[ProjectID] [varchar](30) NOT NULL,
	[EmployeeID] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Project_Assignment] PRIMARY KEY CLUSTERED 
(
	[ProjectID] ASC,
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Autonomous_Operators]  WITH CHECK ADD  CONSTRAINT [FK_JobCode] FOREIGN KEY([JobCode])
REFERENCES [dbo].[JobCode] ([JobCode])
GO
ALTER TABLE [dbo].[Autonomous_Operators] CHECK CONSTRAINT [FK_JobCode]
GO
ALTER TABLE [dbo].[CFProjects]  WITH CHECK ADD  CONSTRAINT [FK_Facilities] FOREIGN KEY([FacilityID])
REFERENCES [dbo].[Facilities] ([FacilityID])
GO
ALTER TABLE [dbo].[CFProjects] CHECK CONSTRAINT [FK_Facilities]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_JobCode] FOREIGN KEY([JobCode])
REFERENCES [dbo].[JobCode] ([JobCode])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_JobCode]
GO
ALTER TABLE [dbo].[Operator_Assignment]  WITH CHECK ADD  CONSTRAINT [FK_AutoOpID] FOREIGN KEY([AutoOpID])
REFERENCES [dbo].[Autonomous_Operators] ([AutoOpID])
GO
ALTER TABLE [dbo].[Operator_Assignment] CHECK CONSTRAINT [FK_AutoOpID]
GO
ALTER TABLE [dbo].[Operator_Assignment]  WITH CHECK ADD  CONSTRAINT [FK_Operator_Assignment_Facilities] FOREIGN KEY([FacilityID])
REFERENCES [dbo].[Facilities] ([FacilityID])
GO
ALTER TABLE [dbo].[Operator_Assignment] CHECK CONSTRAINT [FK_Operator_Assignment_Facilities]
GO
ALTER TABLE [dbo].[Project_Assignment]  WITH CHECK ADD  CONSTRAINT [FK_Project_Assignment_EmployeeID] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Project_Assignment] CHECK CONSTRAINT [FK_Project_Assignment_EmployeeID]
GO
ALTER TABLE [dbo].[Project_Assignment]  WITH CHECK ADD  CONSTRAINT [FK_Project_ID] FOREIGN KEY([ProjectID])
REFERENCES [dbo].[CFProjects] ([ProjectID])
GO
ALTER TABLE [dbo].[Project_Assignment] CHECK CONSTRAINT [FK_Project_ID]
GO
/****** Object:  StoredProcedure [dbo].[sp_Find_Operator_Quantity]    Script Date: 12/5/2018 9:51:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Find_Operator_Quantity]
@Name nvarchar(20) = '%'
AS 
BEGIN
SELECT A.AutoOpID AS 'Autonomous Operator ID', SUM(O.Quantity) AS 'Total Active Units'
FROM Autonomous_Operators AS A
JOIN Operator_Assignment AS O ON A.AutoOpID = O.AutoOpID 
WHERE CodeName LIKE @Name
GROUP BY A.AutoOpID 
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Operator_Catalog]    Script Date: 12/5/2018 9:51:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Operator_Catalog]
@JobCode varchar(10) = NULL 
AS 
BEGIN
IF @JobCode IS NULL
	SELECT * FROM Autonomous_Operators;
ELSE 
	SELECT * FROM Autonomous_Operators 
	WHERE JobCode = @JobCode;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Operator_Count]    Script Date: 12/5/2018 9:51:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Operator_Count]
@FacilityID varchar(10), @NumberOfBots int OUTPUT
AS
SELECT FacilityID, NumberOfBots = SUM(Quantity)
FROM Operator_Assignment 
WHERE FacilityID = @FacilityID
GROUP BY FacilityID
GO
/****** Object:  StoredProcedure [dbo].[sp_Operator_Facility_Allocation]    Script Date: 12/5/2018 9:51:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Operator_Facility_Allocation]
@AutoOpID varchar(15)
AS
DECLARE @FacilityCount int

SELECT  @FacilityCount = COUNT (AutoOpID)
FROM Operator_Assignment
WHERE (AutoOpID = @AutoOpID) 
GROUP BY AutoOpID

RETURN @FacilityCount
GO
/****** Object:  StoredProcedure [dbo].[sp_Project_Assignments]    Script Date: 12/5/2018 9:51:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_Project_Assignments]
WITH RECOMPILE
AS
SELECT P.StartDate, P.ProjectID, P.ProjectDescription AS 'Description',CONCAT(E.FirstName, ' ', E.LastName) AS 'Assigned To', F.FacilityName AS 'Facility', F.FacilityLocation AS 'Colony'
FROM CFProjects AS P
JOIN Facilities AS F ON F.FacilityID = P.FacilityID  
JOIN Project_Assignment AS PA ON PA.ProjectID = P.ProjectID
JOIN Employees AS E ON E.EmployeeID = PA.EmployeeID
ORDER BY P.StartDate ASC
GO
USE [master]
GO
